body {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

main {
    text-align: center;
    display: flex;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

a:hover {
    text-decoration: underline;
}

.source {
    background-color: gray;
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    text-align: center;
    font-family: serif;
}

.history {
    flex: 1;
}

.main {
    flex: 1;
}

.writeTime {
    text-align: right;
}

.links {
    text-align: center;
    flex: 1;
}

