body {
    padding-left: 15%;
    padding-right: 15%;
}

.source {
    background-color: gray;
}

.title {
    text-align: center;
    font-family: serif;
}

.writeTime {
    text-align: right;
}