body {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    font-family: serif;
    background-color: gray;
}

header {
    background-color:darkcyan;
    padding-bottom: 40px;
    padding-top: 40px;
}

main {
    text-align: center;
    display: flex;
    padding-top: 100px;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-family: serif;
}

a:hover {
    text-decoration: underline;
}

.source {
    background-color: gray;
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    text-align: center;
    font-family: serif;
}

.history {
    flex: 1;
    padding-left: 40px;
}

.historyTitle {
    border-bottom: dotted 2px black;
    font-weight: bold;
}

.main {
    flex: 3;
}

.writeTime {
    text-align: right;
    margin-bottom: 100px;
    padding-right: 40px;
}

.links {
    text-align: center;
    flex: 1;
    font-family: serif;
    padding-right: 40px;
}

.linkTitle {
    border-bottom: dotted 2px black;
    font-weight: bold;
}

.comment {
    font-weight: bold;
}

